.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/images/bg.jpeg') no-repeat center center fixed;
  background-size: cover;

}

.center {
  text-align: center;
  color: rgb(2, 0, 0);
}

.company {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.button {
  background-color: #7700ff;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: all 200ms;
}

.button:hover {
  background-color: #4b00fb;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
